{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h1>Change Password</h1>
<form method="POST" novalidate>
   {{ form.hidden_tag() }} <!-- crsf token-->
    <div>
        <label for="current_password">Current password</label><br>
        <input type="password" id="current_password" name="current_password">
    </div>
    <div>
        <label for="new_password">New password</label><br>
        <input type="password" id="new_password" name="new_password">
    </div>
    <div>
        <button type="submit">Change Password</button>
    </div>
</form>

{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p class="text-danger">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}
{% endblock %}
