{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block content %}
<h1>Change Password</h1>

{% with messages = get_flashed_messages(with_categories=true) %}  <!-- shows messages -->
    {% for category, message in messages %}
        {% if category == 'success' %}  <!--green success -->
            <p style="color:green;">{{ message }}</p>
        {% elif category == 'warning' %}  <!-- orange wqrning -->
            <p style="color:orange;">{{ message }}</p>
        {% else %}
            <p style="color:red;">{{ message }}</p>  <!--red danger -->
        {% endif %}
    {% endfor %}
{% endwith %}

<form method="POST" novalidate>
   {{ form.hidden_tag() }} <!-- crsf token-->
    <div>
        <label for="current_password">Current password</label><br>
        <input type="password" id="current_password" name="current_password">
    </div>
    <div>
        <label for="new_password">New password</label><br>
        <input type="password" id="new_password" name="new_password">
        {% for error in form.new_password.errors %}
            <pre style="color: red;">{{ error }}</pre><br> <!-- iterates --> <!-- show errors-->
        {% endfor %}
    </div>
    <div>
        <button type="submit">Change Password</button>
    </div>
</form>
{% endblock %}


