{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}
{% if messages %}
{% for category, message in messages %}
<p class="text-danger">{{ message }}</p>
{% endfor %}
{% endif %}
{% endwith %}

<form method="POST" novalidate>
        {{ form.hidden_tag() }}  <!-- csrf token -->
  Username: <input type="text" name="username"><br>
  Password: <input type="password" name="password"><br>
  <input type="submit" value="Login">
</form>
{% endblock %}
