{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<h1>Login</h1>

<!-- Flash messages -->
{% with messages = get_flashed_messages(with_categories=true) %}  <!-- shows messages -->
    {% for category, message in messages %}
        {% if category == 'success' %}  <!--green success -->
            <p style="color:green;">{{ message }}</p>
        {% elif category == 'warning' %}  <!-- orange wqrning -->
            <p style="color:orange;">{{ message }}</p>
        {% else %}
            <p style="color:red;">{{ message }}</p>  <!--red danger -->
        {% endif %}
    {% endfor %}
{% endwith %}

<form method="POST" novalidate>
    {{ form.hidden_tag() }}  <!-- csrf token -->
  Username: {{ form.username() }}<br>
    {% for error in form.username.errors %}
            <pre style="color: red;">{{ error }}</pre><br> <!-- iterates --> <!-- show errors-->
        {% endfor %}
  Password: {{ form.password() }}<br>
    {% for error in form.password.errors %}
            <pre style="color: red;">{{ error }}</pre><br> <!-- iterates --> <!-- show errors-->
        {% endfor %}
  <input type="submit" value="Login">
</form>
{% endblock %}
